version: '3.8'

services:
  hugo:
    image: hugomods/hugo:latest
    container_name: hugo-local-builder
    command: hugo --watch --source /src --destination /output --baseURL http://localhost --poll 1700ms
    volumes:
      - ./strongbread:/src
      - site-local:/output

  nginx:
    image: nginx:alpine
    container_name: hugo-local-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - site-local:/usr/share/nginx/html:ro
      - ./nginx/local.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs/
    depends_on:
      - hugo

volumes:
  site-local: