version: '3.8'

services:
  hugo:
    image: hugomods/hugo:latest
    container_name: hugo-builder
    command: hugo --watch --source /src --destination /output --baseURL http://yourdomain.com
    volumes:
      - ./strongbread:/src
      - site-static:/output

  nginx:
    image: nginx:alpine
    container_name: hugo-nginx
    ports:
      - "80:80"
    volumes:
      - site-static:/usr/share/nginx/html:ro
      # MOUNT THE BOOTSTRAP CONFIG
      - ./nginx/bootstrap.conf:/etc/nginx/conf.d/default.conf
      - certs-data:/var/www/certbot
    depends_on:
      - hugo

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certs:/etc/letsencrypt
      - certs-data:/var/www/certbot

volumes:
  site-static:
  certs:
  certs-data: