version: '3.8'

services:
  hugo:
    image: hugomods/hugo:latest
    container_name: hugo-builder
    restart: unless-stopped
    command: hugo --watch --source /src --destination /output --baseURL https://yourdomain.com
    volumes:
      - ./strongbread:/src
      - site-static:/output

  nginx:
    image: nginx:alpine
    container_name: hugo-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - site-static:/usr/share/nginx/html:ro
      # MOUNT THE DEFAULT CONFIG
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      # MOUNT THE CERTS
      - certs:/etc/letsencrypt
      - certs-data:/var/www/certbot
    depends_on:
      - hugo

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certs:/etc/letsencrypt
      - certs-data:/var/www/certbot

volumes:
  site-static:
  certs:
  certs-data: